
<style>
  .navbar
  {
      border-bottom:3px solid #0062CC;
      background-color:white;
  }
  .nav-link {
    color: #726E6D !important;
    font-weight: 500;
  }
  .btn-outline-success {
    color: #fff !important;
  }
</style>

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" style="color: #0062CC; font-weight: bolder;" href="#">AcsServices</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if user.is_authenticated %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Αρχική <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'customer'  %}">Πελάτες</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tameiaki' %}">Ταμειακές</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Αναζήτηση" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Αναζήτηση</button>
    </form>
  </div>
  {% else %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" >Αρχική <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Πελάτες</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Ταμειακές</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Αναζήτηση" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Αναζήτηση</button>
    </form>
  </div>
  {% endif %}
</nav>