{% extends "base.html" %}
{% block content %}
<div class="float-right mb-3 mr-5">
  <a href="{% url 'customer-new' %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Νέος Πελάτης</a>
  <a href="{% url 'export_data_client' %}" class="btn btn-success btn-sm active" role="button" aria-pressed="true">Εξαγωγή</a>
</div>
<div id="customerDiv" class="mt-5" style="padding-left:20px; padding-right:20px;">
  <table class="table">
      <thead>
          <tr>
              <th>Όνομα</th>
              <th>Επώνυμο</th>
              <th>Τίτλος Εταιρείας</th>
              <th>Κατηγορία</th>
              <th>Διεύθυνση</th>
              <th>Email</th>
              <th>ΑΦΜ</th>
              <th>Τηλ. Επικοιν.</th>
          </tr>
      </thead>
      <tbody>
          {% for item in data %}
          {% if forloop.last %}
          <p style="padding-left:20px; color: #726E6D; font-weight:500">Πελάτες: {{count}}</p>
          {% endif %}
          <tr>
            <td>{{ item.first_name|title }}</td>
            <td>{{ item.last_name|title }}</td>
            <td>{{ item.company_name|title }}</td>
            <td>{{ item.company_type|title }}</td>
            <td>{{ item.company_address|title }}</td>
            <td>{{ item.company_email|default_if_none:"-" }}</td>
            <td>{{ item.company_afm }}</td>
            <td>{{ item.phone_number }}</td>
          {% endfor %}    
      </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
      {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}" class="btn btn-primary" role="button">Previous</a>
      {% endif %}
      <span class="current">
        Page {{ page.number }} of {{ page.paginator.num_pages }}.
      </span>
      {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}" class="btn btn-primary" role="button">Next</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}