{% extends 'base.html' %}
{% load filename %}
{% load widget_tweaks %}
{% block tab-title %}Αρχεία | {% endblock %}

{% block content %}

<body>
  <div class="float-right mb-3 mr-5">
    <a href="{% url 'file_upload' %}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true"><i class="bi bi-cloud-upload-fill" style="margin-right: 10px;"></i>Μεταφόρτωση αρχείου</a>
    <a href="#" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><i class="bi bi-envelope-open-fill" style="margin-right: 10px;"></i>Αποστολή Email</a>
  </div>
  <div id="cashDiv" class="mt-5" >
    <table class="table">
        <thead>
            <tr>
              <th>Πελάτης</th>
              <th>Αρχείο</th>
              <th>Μέγεθος</th>
            </tr>
        </thead>
  <tbody>
    {% for obj in object_list %}
    <tr class="tbrows">
      <td>{{obj.customer}}</td>
      <td><a href="{{ obj.file.url }}" download>{{obj.file.name|filename}}</a></td>
      <td>{{obj.file.size|filesizeformat}}</td>
    {% endfor %}
    </tr>
  </tbody>
  </table>
  </div>
</body>

{% endblock content %}