{% extends 'base.html' %}
{% load widget_tweaks %}
{% block tab-title %}Ταμειακές | {% endblock %}
{% block content %}
<body >
<form method="get">
  {% csrf_token %}
  <div class="well" style="margin-top: 15px;">
    <div class="row">
      <div class="form-group col-sm-2 col-md-2">
        {{ my_Filter.form.customer.label_tag }}
        {% render_field my_Filter.form.customer class="form-control" %}
      </div>
      <div class="form-group col-sm-2 col-md-2">
        {{ my_Filter.form.cash_model.label_tag }}
        {% render_field my_Filter.form.cash_model class="form-control" %}
      </div>
      <div class="form-group col-sm-1 col-md-1">
        {{ my_Filter.form.status.label_tag }}
        {% render_field my_Filter.form.status class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-2">
        <button type="submit" class="btn btn-warning" style="position: absolute; top:44%;">
          <span class="fa fa-search"><i class="bi bi-search"></i></span>
        </button>
    </div>
  </div>
</form>


<div class="float-left" style="color: #726E6D; font-weight:500">
  <ul>
    <li>Ταμειακές: {{cash}}</li>
    <li>Online: {{cash_online}}</li>
    <li>Offline: {{cash_offline}}</li>
  </ul>
</div>
<div class="float-right mb-3 mr-5">
  <button id="refreshButton" class="btn btn-outline-info btn-sm"><i class="bi bi-arrow-clockwise"></i></button>
  <a href="{% url 'new-cash' %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><i class="bi bi-person-plus-fill" style="margin-right: 10px;"></i>Νέα Εγγραφή</a>
  <a href="{% url 'file_upload' %}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true"><i class="bi bi-cloud-upload-fill" style="margin-right: 10px;"></i>Μεταφόρτωση αρχείου</a>
  <a href="{% url 'export_data' %}" class="btn btn-success btn-sm active" role="button" aria-pressed="true"><i class="bi bi-cloud-download-fill" style="margin-right: 10px;"></i>Εξαγωγή</a>
  <a href="{% url 'send_mail' %}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><i class="bi bi-envelope-open-fill" style="margin-right: 10px;"></i>Αποστολή Email</a>
</div>
  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>

<div id="cashDiv" class="mt-5" >
  <table class="table">
      <thead>
          <tr>
              <th>Πελάτης</th>
              <th>Μοντέλο Ταμ.</th>
              <th>Αρ. Μητρώου</th>
              <th>Ημ. Δήλωσης</th>
              <th>OS Version</th>
              <th>New OS Version</th>
              <th>Κατάσταση</th>
              <th>Ημ. Αναβάθ.</th>
              <th>AES_KEY</th>
              <!-- <th>Έγγραφο</th> -->
              <th>Σημειώσεις</th>
              <th>Ενέργειες</th>
          </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
          {% if obj.status == False %}
        <tr class="tbrows" style="background-color: red; color: white;">
          {% else %}
        <tr class="tbrows">
          {% endif %}
            <td>{{ obj.customer|title }}</td>
            <td>{{ obj.cash_model }}</td>
            <td>{{ obj.cash_number }}</td>
            <td>{{ obj.register_date|date:"d-m-Y" }}</td>
            <td>{{ obj.old_os|default_if_none:"-" }}</td>
            <td>{{ obj.new_os }}</td>
            {% if obj.status == True %}
            <td style="color:green">Online</td>
            {% else %}
            <td style=" font-weight: bolder;">Offline
            {% endif %}
            <td>{{ obj.update_date|default_if_none:"-"}}</td>
            <td>{{ obj.aes_key|default_if_none:"-"|truncatechars:7 }}</td>
              <!-- {% if obj.file  %}
            <td><a href="{{ obj.file.url }}" download><button class="btn btn-warning"><i class="bi bi-file-earmark-arrow-down-fill" style="margin-right: 10px;"></i>Download</button></a></td>
              {% else %}
            <td>-</td>
              {% endif %} -->
            <td>{{ obj.info|default_if_none:"-"  }}</td>
            {% if obj.status == True %}
            <td><a href="{% url 'edit-cash' obj.id%}"> 
              <span><i class="bi bi-pencil-square" style="color: #726E6D;"></i></span></a>
                <a href="#"> 
                <span><i class="bi bi-trash" style="color: #726E6D; margin-left: 15px;"></i></span></a>
            </td>
              {% else %}
              <td><a href="{% url 'edit-cash' obj.id%}"> 
                <span><i class="bi bi-pencil-square" style="color: white;"></i></span></a>
                <a href="#"> 
                  <span><i class="bi bi-pencil-square" style="color: white; margin-left: 15px;"></i></span></a>
              </td>
              {% endif %}
          {% endfor %}    
      </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
      {% if is_paginated %}
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?{{ query_params }}&page={{ page_obj.previous_page_number }}" class="btn btn-primary" role="button">previous</a>
          {% endif %}

          <span class="current-page">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a href="?{{ query_params }}&page={{ page_obj.next_page_number }}" class="btn btn-primary" role="button">next</a>
          {% endif %}
    </span>
    {% endif %}
  </div>
</div>
<script type='text/javascript'>
  const myDiv = document.getElementById("cashDiv");
  const myButton = document.getElementById("refreshButton");
  myButton.addEventListener("click", function() {
    // Replace the contents of the div with new content
   
  });
</script>
</body>
{% endblock %}